{% assign year = site.time | date: '%Y' %}

<footer class="container mb-4">
    <!-- "Follow us"  -->
    <div class="container bg-gray-2 rounded p-4">
        <div class="d-flex justify-content-center align-items-center">
            <h4 class="me-4">Follow us</h4>

            <!-- X  -->
            <a href="https://x.com/NetSciConf" target="_blank" class="me-3">
                <i class="fab fa-twitter fa-2x"></i>
            </a>

            <!-- Bluesky -->
            <a href="https://bsky.app/profile/netsciconf.bsky.social" target="_blank" class="me-3">
                <i class="fas fa-cloud fa-2x"></i> 
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/netsci-conference/" target="_blank" class="me-3">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
    </div>

    
{% if site.copyright and site.copyright != '' %}
<footer class="container mb-4">
    <small class="text-muted">Copyright &copy;{{ year }} {{ site.copyright }}. All rights reserved.</small>
</footer>
{% endif %}
