{% assign year = site.time | date: '%Y' %}
{% if site.copyright and site.copyright != '' %}
<!-- <footer class="container mb-4">
    <small class="text-muted">Copyright &copy;{{ year }} {{ site.copyright }}. All rights reserved.</small>
</footer> -->
<footer class="container mb-4"> 
    <!-- "Follow us" -->
    <div class="container bg-gray-2 rounded p-1">
        <div class="d-flex justify-content-center align-items-center">
            <h6 class="me-4">Follow us</h6>

            <!-- X -->
            <a href="https://x.com/NetSciConf" target="_blank" class="me-3">
                <i class="fab fa-twitter" style="font-size: 32px;"></i>
            </a>

            <!-- Bluesky -->
            <a href="https://bsky.app/profile/netsciconf.bsky.social" target="_blank" class="me-3">
                <img src="/test/assets/images/bsky.png" alt="Bluesky Icon" style="width: 32px;">
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/netsci-conference/" target="_blank" class="me-3">
                <i class="fab fa-linkedin" style="font-size: 32px;"></i>
            </a>
        </div>
    </div>
</footer>
{% endif %}
