---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}


<nav class="navbar navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.url }}/assets/images/logo.svg" alt="NetSci 2025" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% assign links = site.pages | sort: 'navorder' %}
                {% for link in links %}
                    {% if link.navorder %}
                        {% if link.has_children %}
                            <!-- parent page -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ link.title | downcase }}Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ link.title }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="{{ link.title | downcase }}Dropdown">
                                    {% assign children = site.pages | where: "parent", link.title | sort: "navorder" %}
                                    {% for child in children %}
                                        <li><a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elsif link.parent == null %}
                            <!-- single page -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>



<main class="my-4">
    <div class="container-fluid hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/maastricht.jpg'); height: 800px; background-size: cover;">
        <div class="hero-text">
            <h1 class="display-3 extra-bold">{{ page.title }}</h1>
            <p class="lead bold">{{ description }}</p>
            <div>
                {% assign buttons = site.data.index.buttons %}
                {% for button in buttons %}
                <a href="{{ button.url }}" class="btn btn-primary btn-lg">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-5 bg-gray-2 rounded p-4">
        {{ content }}
    </div>

</main>


<footer class="container mb-4"> 
    <!-- "Follow us" -->
    <div class="container bg-gray-2 rounded p-1">
        <div class="d-flex justify-content-center align-items-center">
            <h6 class="me-4">Follow us</h6>

            <!-- X -->
            <a href="https://x.com/NetSciConf" target="_blank" class="me-3">
                <i class="fab fa-twitter" style="font-size: 32px;"></i>
            </a>

            <!-- Bluesky -->
            <a href="https://bsky.app/profile/netsciconf.bsky.social" target="_blank" class="me-3">
                <img src="assets/images/bsky.png" alt="Bluesky Icon" style="width: 32px;">
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/netsci-conference/" target="_blank" class="me-3">
                <i class="fab fa-linkedin" style="font-size: 32px;"></i>
            </a>
        </div>
    </div>
</footer>


<!-- {% include footer.html %} -->



