---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}



<main class="my-4">
    <div class="container-fluid hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/maastricht.jpg'); height: 800px; background-size: cover;">
        <div class="hero-text">
            <h1 class="display-3 extra-bold">{{ page.title }}</h1>
            <p class="lead bold">{{ description }}</p>
            <div>
                {% assign buttons = site.data.index.buttons %}
                {% for button in buttons %}
                <a href="{{ button.url }}" class="btn btn-primary btn-lg">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-5 bg-gray-2 rounded p-4">
        {{ content }}
    </div>

</main>


<footer class="container mb-4"> 
    <!-- "Follow us" -->
    <div class="container bg-gray-2 rounded p-1">
        <div class="d-flex justify-content-center align-items-center">
            <h6 class="me-4">Follow us</h6>

            <!-- X -->
            <a href="https://x.com/NetSciConf" target="_blank" class="me-3">
                <i class="fab fa-twitter" style="font-size: 32px;"></i>
            </a>

            <!-- Bluesky -->
            <a href="https://bsky.app/profile/netsciconf.bsky.social" target="_blank" class="me-3">
                <img src="assets/images/bsky.png" alt="Bluesky Icon" style="width: 32px;">
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/netsci-conference/" target="_blank" class="me-3">
                <i class="fab fa-linkedin" style="font-size: 32px;"></i>
            </a>
        </div>
    </div>
</footer>


<!-- {% include footer.html %} -->



