---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>

main {
    padding-top: 70px;
}
</style>

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.locations %}
        <hr class="my-4">
        <div id="map"></div>
        {% endif %}
    </div>
</main>



<script>

{% if site.data.locations %}
  {% for marker in site.data.locations.markers %}
    L.marker([{{ marker.latlng | join: ', ' }}]) // 
      .on('click', function() {
        window.location.href = "{{ marker.url }}"; // 
      })
      .addTo(map); // 
  {% endfor %}
{% endif %}
</script>



<!-- {% include footer.html %} -->
