---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>
main {
    padding-top: 70px;
}
#map {
    height: 400px;
}
</style>

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.locations %}
        <hr class="my-4">
        <div id="map"></div>
        {% endif %}
    </div>
</main>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var map = L.map('map').setView([50.8484, 5.6888], 13);


  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
  }).addTo(map);

  // Congress center (MECC) 
  var meccMarker = L.marker([50.8387222, 5.7121196]).addTo(map)
    .bindPopup('Congress center (MECC)<br>Forum 100, 6229 GV Maastricht')  
    .on('click', function() {
      window.open("https://www.mecc.nl/en/", "_blank");  
    });

  // School of business and economics maastricht (SBE) 
  var sbeMarker = L.marker([50.8449465, 5.6848629]).addTo(map)
    .bindPopup('School of business and economics maastricht (SBE)<br>Tongersestraat 53, 6211 LM Maastricht') 
    .on('click', function() {
      window.open("https://www.maastrichtuniversity.nl/about-um/faculties/school-business-and-economics", "_blank");  
    });
});
</script>

<!-- {% include footer.html %} -->

