---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>
    main {
        padding-top: 70px;
    }

    main h1 {
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .section-title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .satellite-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .satellite-column {
        width: 45%;
    }

    .satellite-list {
        list-style: none;
        padding: 0;
    }

    .satellite-list li {
        margin-bottom: 0.5rem;
    }
</style>

<main class="my-4 {{ page.class }}">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <hr class="my-4">
        <div class="satellite-container">
            <div class="satellite-column">
                <h2 class="section-title">FULL DAY</h2>
                <ul class="satellite-list">
                    {% assign full_day_items = site.data.satellites.full_day %}
                    {% for item in full_day_items limit:5 %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="satellite-column">
                <ul class="satellite-list">
                    {% for item in full_day_items offset:5 %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="satellite-container">
            <div class="satellite-column">
                <h2 class="section-title">HALF DAY</h2>
                <ul class="satellite-list">
                    {% assign half_day_items = site.data.satellites.half_day %}
                    {% for item in half_day_items limit:5 %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="satellite-column">
                <ul class="satellite-list">
                    {% for item in half_day_items offset:5 %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

<!-- {% include footer.html %} -->


